@layer base {
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/Poppins-Light.ttf");
  }

  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Poppins-Regular.ttf");
  }

  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/Poppins-Medium.ttf");
  }

  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/Poppins-SemiBold.ttf");
  }

  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Poppins-Bold.ttf");
  }
  
  /* AnekLatin */

  @font-face {
    font-family: "AnekLatin";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/AnekLatin-Light.ttf");
  }

  @font-face {
    font-family: "AnekLatin";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/AnekLatin-Regular.ttf");
  }

  @font-face {
    font-family: "AnekLatin";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/AnekLatin-Medium.ttf");
  }

  @font-face {
    font-family: "AnekLatin";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/AnekLatin-SemiBold.ttf");
  }

  @font-face {
    font-family: "AnekLatin";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/AnekLatin-Bold.ttf");
  }
  /* SourceSansPro */

  @font-face {
    font-family: "SourceSansPro";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/SourceSansPro-Light.ttf");
  }

  @font-face {
    font-family: "SourceSansPro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/SourceSansPro-Regular.ttf");
  }

  @font-face {
    font-family: "SourceSansPro";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/SourceSansPro-SemiBold.ttf");
  }

  @font-face {
    font-family: "SourceSansPro";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/SourceSansPro-Bold.ttf");
  }
}
